<div class="container">
<h1>Log in</h1>
<table><%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <tr>
  <td><%= f.label :email %></td>
  <td><%= f.email_field :email %></td>
  </tr>
  <tr>
  <td><%= f.label :password %></td>
  <td><%= f.password_field :password %></td>
  </tr>
  <td><%= f.submit "Log in" %></td>
<% end %>
</table>
</div>