<div class="container">
<h1 button class="btn btn-primary" disabled="disabled">
<%= @user.name %>の投稿一覧</h1>
<table class="table">
<table class="table table-bordered">
<ul class="row">
<% @user.feeds.each do |f| %>
<tbody>
<td><%= image_tag f.image.url%></td>

<td><%=f.comment %></td>

<td><button class="btn btn-default"><%= link_to 'Show', f %></button></td>

<td><button class="btn btn-default"><%= link_to 'Edit', edit_feed_path(f) %></button></td>
<td><button class="btn btn-default"><%= link_to 'Destroy', f, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
<% end %>

</tbody>

</table>
</table>
</ul>